.dados {
    width: 100%;
}

.info {
    margin-top: 20px;
    padding: 10px;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label,
select,
input {
    font-size: 18px;
}

label {
    float: left;
}

select,
input {
    width: 60%;
    float: right;
}

.content {
    width: 35vw;
    height: 35vh;
}
