.tabDados > div{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tabDados > div > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.tabDados > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-left: 10px;
}

div span {
    margin: 2px 0;
    display: flex;
    justify-content: space-between; 
}
.tabDados > div > div:nth-child(2) input, .tabDados > div > div:nth-child(2) select {
    width: 70%;
}